.biografia {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    .contenedor {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 100%;
        display: grid;
        grid-template-columns: 6fr 1fr 6fr;

        img {
            max-width: 360px;
            align-self: center;
            border-radius: 50%;
            box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.24);
        }

        .texto {
            grid-column: 3/4;
            align-self: center;
            justify-self: end;
            display: grid;

            h1 {
                margin-bottom: 0.5em;
            }

            h2 {
                color: $maincolor;
            }
    
            a{
                color: $maincolor;
                width: 80px;
                color: $maincolor;
                font-weight: 700;
                justify-self: end;
    
                i{
                    border-color: $maincolor;
                    margin-left: 0em;
                    transition: 0.3s;
                }
            }

            a:hover {
            
                i {
                    margin-left: 0.2em;
                }
            }
        }
    }
}

/////////////////////// MEDIA QUERIES ///////////////////////

@media (max-width: 575.98px) {
    .biografia {
        height: auto;
        padding: 4em 0 4em 0;
        grid-template-rows: 1fr;

        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            
            img {
                max-width: 150px;
                justify-self: center;
            }

            .texto {
                margin-top: 3em;
                align-self: start;
                grid-column: 1/2;
                grid-row: 2/3;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 824.98px) {
    .biografia {
        height: 500px;

        .contenedor {
            grid-template-columns: 3fr 1fr 9fr;
            
            img {
                max-width: 150px;
                align-self: start;
            }

            .texto {
                align-self: start;
            }
        }
      }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 825px) and (max-width: 991.98px) {
  .biografia {

    .contenedor {

        img {
            max-width: 300px;
        }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}