.empresas {
    background-image: url(../img/fondotrabajo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 850px;
    border-top: solid 5px $comcolor;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;

    .contenedor {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr 7fr;
    }
    .texto {
        align-self: center;
        justify-self: center;
        display: grid;

        h1 {
            color: white;
            margin-bottom: 0.5em;
        }

        h2 {
            color: $comcolor;
        }

        p {
            color: white;
        }

        a{
            width: 80px;
            color: $comcolor;
            font-weight: 700;
            justify-self: end;

            i{
                margin-left: 0em;
                transition: 0.3s;
            }
        }

        a:hover {
            
            i {
                margin-left: 0.2em;
            }
        }
    }
    .logos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column: 3/4;

        img {
            align-self: center;
            justify-self: center;
            max-width: 80px;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .empresas {
        padding: 2.5em 0 2.5em 0;

        .contenedor {
            grid-template-columns: 1fr 7fr 1fr;
            grid-template-rows: 6fr 1fr 10fr;

            .texto {
                grid-column: 1/4;
                grid-row-start: 1;
                align-self: start;
            }

            .logos {
                grid-column: 1/4;
                grid-row-start: 3;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: repeat(4, 1fr);
                
                img {
                   // align-self: start;
                }

                img:nth-child(2) , img:nth-child(6), img:nth-child(10),
                img:nth-child(14), img:nth-child(17), img:nth-child(18),
                img:nth-child(19), img:nth-child(20) {
                    display: none;
                  }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .empresas {
        padding: 2.5em 0 2.5em 0;

        .contenedor {
            grid-template-columns: 1fr 7fr 1fr;
            grid-template-rows: 6fr 1fr 10fr;

            .texto {
                grid-column: 1/4;
                grid-row-start: 1;
                align-self: start;
            }

            .logos {
                grid-column: 1/4;
                grid-row-start: 3;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .empresas {
        padding: 2.5em 0 2.5em 0;

        .contenedor {
            grid-template-columns: 1fr 7fr 1fr;
            grid-template-rows: 6fr 1fr 10fr;

            .texto {
                grid-column: 1/4;
                grid-row-start: 1;
                align-self: start;
            }

            .logos {
                grid-column: 1/4;
                grid-row-start: 3;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}