.footer {
    height: auto;
    border-top: solid 5px $comcolor;
    background-image: url(../img/fondo-footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    color: white;

    h1 {
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .contenedor {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 100%;
        display: grid;
        grid-template-columns: 4fr 0.5fr 7fr;

        .primera {
            grid-column: 1/2;
            display: grid;
            align-content: start;
        }

        .segunda {
            grid-column: 3/4;
            display: grid;
            align-content: center;
        }
        
        span {
            color: $comcolor;
        }
        .logo {
            width: 100%;
            margin-bottom: 3em;
            
            img {
                height: 100px;
            }
        }

        .escribeme {
            width: 100%;
            margin-bottom: 6em;

            h1 {
                margin-bottom: 0.5em;
            }
            a{
                width: 100%;
                color: white;
                font-weight: 300;
                font-size: 1em;
                text-transform: none;
    
                i{
                    margin-left: 0em;
                    transition: 0.3s;
                    border-width: 0 4px 4px 0;
                    padding: 0.25em;
                }
            }
    
            a:hover {
                
                i {
                    margin-left: 0.2em;
                }
            }
        }

        .sigueme {
            width: 100%;

            a {
                margin-right: 0;
                margin-left: 1em;
                color: white;

                i {
                    font-size: 1.5em;
                }
            }

            a:hover {
                color: $comcolor;
            }
            
            h1 {
                position: relative;
                display:inline-block;
            }

            img {
                position: relative;
                display:inline-block;
                max-width: 20px;
                margin-right: 1em;
                margin-top: 1em;
            }
        }
    }
}

///////////////// MEDIA QUERIES ///////////////////

@media (max-width: 575.98px) {
    .footer {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 15fr 1fr;

        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            .primera {
                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: center;
            }
    
            .segunda {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .logo {
                margin-bottom: 2.5em;
            }
            .escribeme {
                margin-bottom: 2.5em;
            }
            .sigueme {
                margin-bottom: 2.5em;
                
                img {
                    margin-right: 0;
                    margin-left: 1.5em;
                }

                img:nth-child(1) {
                    margin-left: 2em;
                    background-color: $comcolor;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
    .footer {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 15fr 1fr;

        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            .primera {
                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: center;
            }
    
            .segunda {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .logo {
                margin-bottom: 2.5em;
            }
            .escribeme {
                margin-bottom: 2.5em;
            }
            .sigueme {
                margin-bottom: 2.5em;
                
                img {
                    margin-right: 0;
                    margin-left: 1.5em;
                }

                img:nth-child(1) {
                    margin-left: 2em;
                    background-color: $comcolor;
                }
            }
        }
    }
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    .footer {
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-rows: 1fr 15fr 1fr;

        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;

            .primera {
                grid-column: 1/2;
                grid-row: 1/2;
                justify-content: center;
            }
    
            .segunda {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .logo {
                margin-bottom: 2.5em;
            }
            .escribeme {
                margin-bottom: 2.5em;
            }
            .sigueme {
                margin-bottom: 2.5em;
                
                a {
                    margin-right: 0;
                    margin-left: 1em;

                    i {
                        font-size: 1.5em;
                    }
                }

                a:nth-child(1) {
                    margin-left: 1.5em;
                }
            }
        }
    }

}
  
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
      
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
      
}