.header {
    background-image: url(../img/comp-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .recuadroheader {
        grid-column: 1/2;
        grid-row: 1/2;
        height: auto;
        width: 650px;
        margin-bottom: 8em;
        padding: 1.3em 0;
        z-index: 1;
        display: grid;
        align-self: end;
        align-content: center;
        color: $maincolor;
        background-color: rgba($color: #000, $alpha: 0.3);

        span {
            color: $comcolor;
        }
        .texto {
            margin-left: 8em;    
        }
    }
}

////////////////////////////////////////

.wrapper {
    width: 95%;
    text-align: center;
  
    .itemh {
      visibility: hidden;
      display: none;
    }
  
    h2 {
      font-size: 40px;
      margin: 0;
      text-align: left;
      font-weight: 700;
    }
  
    > div {
      min-height: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      color: $comcolor;
  
      &:after {
  content: "";
      width: 10px;
      height: 4px;
      display: block;
      background: black;
      color: $comcolor;
      margin-bottom: 4px;
      margin-left: 2px;
      animation-duration: 350ms;
      animation-name: fade;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      }
    }
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  ///////////////// MEDIA QUERIES ///////////////////

@media (max-width: 575.98px) {
  .recuadroheader {
    width: 100% !important;
    justify-content: center;

    .texto {
      margin-left: 0 !important;    
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .recuadroheader {
    width: 100% !important;
    justify-content: center;

    .texto {
      margin-left: 0 !important;    
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  
  .recuadroheader {
    width: 100% !important;
    justify-content: center;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    
}