#nav {
    height: 70px;
    border-top: solid 3px $comcolor;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 1fr;
    grid-template-rows: 1fr;
    font-weight: 300;
    z-index: 99;
    align-content: center;
    justify-content: space-between;
    transition: 0.4s;

    #menu {
        grid-column: 3/4;
        grid-row: 1/2;
        display: flex;
        justify-content: flex-end;
        margin-top: 3em;
        transition: 0.4s;
        
        .icon-bars {
            display: none;
            width: 30px;
            height: 30px;
            justify-self: end;
            font-size: 1.4em;
        }

        a {
            width: 100px;
            align-self: center;
            color:$maincolor;
            font-size:15px;
            position: relative;
            display:inline-block;
            margin-left: 20px;

            i{
                margin-left: 0.15em;
                transition: 0.3s;
                border: solid $maincolor;
                border-width: 0 4px 4px 0;
            }
        }

        a:nth-child(3) {
            width: 120px;
        }

        a:hover {
            i {
                margin-left: 0.4em;
            }
        }
    }

    #logo {
        grid-column-start: 2;
        align-self: center;
        height: 60px;
        margin-top: 4em;
        transition: 0.4s;

        img {
            height: 100%;
        }
    }
}

/////////////////////////////////////////////////////////////////////
  
@media screen and (max-width: 600px) {

    #nav {
        height: 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 6fr 1fr;
        grid-template-rows: 1fr;
    
        #menu {
            grid-column: 3/4;
            grid-row: 1/2;
            display: grid;
            justify-content: flex-end;
            margin-top: 1em;
            
            a {
                display: none;
                position: fixed;
            }

            a:not(:first-child){
                background-color: rgba($color: #ffffff, $alpha: 0.8);
                right: 0;
                padding: 0.9em;
            }

            a:nth-child(2) {
                top: 90px;
            }

            a:nth-child(3) {
                top: 140px;
            }

            a:nth-child(4) {
                top: 190px;
            }

            a.icon-bars {
                display: block;
                align-self: start;
                margin-top: 0.5em;
                right: 10%;

                i {
                    border: none;
                    align-self: start;
                }
            }
        }

        .responsive a {
            display: block !important;
        }

        #logo {
            align-self: center;
            margin-top: 0;
    
            img {
                height: 100%;
            }
        }
    }
}
